        h1 {
            background-color: black;
            color: white;
            opacity: 1.0;
        }
        
        body {
            background-image: url(../images/479583.jpg);
            background-repeat: round;
            max-height: 100%;
        }
        
        p {
            color: white;
        }
        
        .searchBar {
            background-color: darkgrey;
            color: white;
            height: 100vh;
            opacity: 0.8;
        }
        
        .container {
            padding: 0px;
            margin: 0px;
        }